<div class="container" id="{{name}}-container">
    <div class="btn-group-vertical w-100">
        <button type="button" class="btn btn-light {{name}}-resetbtn {{name}}-noapply">Reset</button>
        <button type="button" class="btn btn-light {{name}}-classbtn" data-class="accessibility-fontface-serif" style="font-family: none !important;">
            Serif
        </button>
        <button type="button" class="btn btn-light {{name}}-classbtn" data-class="accessibility-fontface-sansserif" style="font-family: sans-serif !important;">
            Sans Serif
        </button>
        <button type="button" class="btn btn-light {{name}}-classbtn" data-class="accessibility-fontface-dyslexic" style="font-family: opendyslexic !important;">
            Dyslexic
        </button>
    </div>
</div>
