<div class="container" id="{{name}}-container">
    <div class="btn-group-vertical w-100">
        <button type="button" class="btn btn-light {{name}}-resetbtn {{name}}-noapply">
            {{#str}} reset, local_accessibility {{/str}}
        </button>
        <button type="button" class="btn btn-light {{name}}-classbtn" data-value="serif" style="font-family: none !important;">
            {{#str}} serif, local_accessibility {{/str}}
        </button>
        <button type="button" class="btn btn-light {{name}}-classbtn" data-value="sansserif" style="font-family: sans-serif !important;">
            {{#str}} sansserif, local_accessibility {{/str}}
        </button>
        <button type="button" class="btn btn-light {{name}}-classbtn" data-value="dyslexic" style="font-family: opendyslexic !important;">
            {{#str}} dyslexic, local_accessibility {{/str}}
        </button>
    </div>
</div>
