<div class="local-accessibility-panel border-primary p-0 card col-10 col-lg-8">
    <div class="card-header bg-primary text-light">
        <i class="fa fa-universal-access"></i>
        {{#str}} pluginname, local_accessibility {{/str}}
    </div>
    <div class="card-body">
        <h1>
            Hello World!
        </h1>
    </div>
</div>
